.palabraReservada {
    -fx-fill: blue; /* Resalta palabras clave en azul */
    -fx-font-weight: bold;
}
.tiposDatos{
    -fx-fill: #C79B56; /* Resalta palabras clave en azul */
    -fx-font-weight: bold;
}
.error{
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.default {
    -fx-fill: black; /* Normal para el resto del texto */
}

.cadena{
    -fx-fill: #26ff00;
    -fx-font-weight: bold;
}

.identificador{
    -fx-fill: #f940ff;
    -fx-font-weight: bold;
}

.consola {
    -fx-background-color: black;
}
.consola .text {
    -fx-fill: #26ff00;
    -fx-font-size: 15px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}