.palabraReservada {
    -fx-fill: blue; /* Resalta palabras clave en azul */
    -fx-font-weight: bold;
}
.tiposDatos{
    -fx-fill: #C79B56; /* Resalta palabras clave en azul */
    -fx-font-weight: bold;
}
.booleans{
    -fx-fill: #3f9c8d; /* Resalta palabras clave en azul */
    -fx-font-weight: bold;
}
.error{
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-underline: true;
}
.comentario{
    -fx-fill: rgb(99, 94, 94);
    -fx-font-weight: bold;
}
.default {
    -fx-fill: black; /* Normal para el resto del texto */
}

.cadena{
    -fx-fill: #26ff00;
    -fx-font-weight: bold;
}

.identificador{
    -fx-fill: #f940ff;
    -fx-font-weight: bold;
}

.consola {
    -fx-background-color: black;
}
.consola .text {
    -fx-fill: #26ff00;
    -fx-font-size: 15px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
}
.AreaEditable{
    -fx-font-size: 14px;
    -fx-font-family: "Consolas";
}
.AreaEditableNoche{
    -fx-background-color: rgb(173, 173, 173);
    -fx-font-size: 14px;
    -fx-font-family: "Consolas";
}
.AreaError {
    -fx-background-color: rgb(0, 0, 0);
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 15px;
}
.AreaError .text{
    -fx-fill: #26ff00;
}